<form role="form" method="post">
	<div class="form-group">
		<label for="in">In</label>
		<input type="text" class="form-control" id="in" name="in" placeholder="In" value="<%= PunchTime.db_to_display(settings.timezoneName, @punch.in) %>">
	</div>
	<div class="form-group">
		<label for="out">Out</label>
		<%
			out = ""
			if @punch.out
				out = PunchTime.db_to_display(settings.timezoneName, @punch.out)
			end
		%>
		<input type="text" class="form-control" id="out" name="out" placeholder="Out" value="<%= out %>">
	</div>
	<button type="submit" class="btn btn-default">Save</button>
</form>
<div style="margin-top: 3em">
	<a href="/delete/<%= @punch.id %>" class="btn btn-danger">Delete</a>
</div>